* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App button {
  background-color: #5546FF;
  color: #fff;
  text-align: center;
  padding: 1rem;
}